html,body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#app {
  width: 100%;
  height: 100%;
  margin: auto;
}

.loading {
}

.container {
}

.footer {
  padding: 5px 0;
  text-align: center;  
}

div.mydresslist {
}

div.mydresslistblank {
  height: 60px;
}

/* 상단 메뉴 바 */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    background-color: #111;
}

/* 좌측 메뉴 바 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav h1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 13px;
    margin-left: 50px;
}

/* 옷 추가 버튼 */
div.addmydress {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
}